In [7]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')
pd.set_option('max_columns', 200)

In [52]:
df = pd.read_csv('coaster_db.csv')

In [4]:
df.shape

(1087, 56)

In [8]:
df.head()

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,Height,Inversions,Lift/launch system,Cost,Trains,Park section,Duration,Capacity,G-force,Designer,Max vertical angle,Drop,Soft opening date,Fast Lane available,Replaced,Track layout,Fastrack available,Soft opening date.1,Closing date,Opened,Replaced by,Website,Flash Pass Available,Must transfer from wheelchair,Theme,Single rider line available,Restraint Style,Flash Pass available,Acceleration,Restraints,Name,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,600 ft (180 m),6 mph (9.7 km/h),Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,NaN,Lift Packed,50 ft (15 m),NaN,gravity,NaN,NaN,Coney Island Cyclone Site,1:00,1600 riders per hour,2.9,LaMarcus Adna Thompson,30°,43 ft (13 m),NaN,NaN,NaN,Gravity pulled coaster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1884,40.5740,-73.9780,Wood,1884-06-16,6 mph,9.7 km/h,6.0,mph,6.0,50.0,ft,NaN,0,2.9
1,Flip Flap Railway,NaN,NaN,Sea Lion Park,Removed,1895,Wood,Lina Beecher,NaN,NaN,NaN,1.0,NaN,NaN,a single car. Riders are arranged 1 across in ...,NaN,NaN,NaN,12,Lina Beecher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,40.5780,-73.9790,Wood,1895-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1896,41.5800,-81.5700,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,NaN,1.0,NaN,NaN,a single car. Riders are arranged 2 across in ...,NaN,NaN,NaN,NaN,Edward A. Green,NaN,NaN,NaN,NaN,Switchback Railway,NaN,NaN,NaN,1910,NaN,Giant Racer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1901,40.5745,-73.9780,Steel,1901-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Edward A. Green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1901,39.3538,-74.4342,Steel,1901-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [19]:
df.describe()

,Inversions,year_introduced,latitude,longitude,speed1_value,speed_mph,height_value,height_ft,Inversions_clean,Gforce_clean
count,932.000000,1087.000000,812.000000,812.000000,937.000000,937.000000,965.000000,171.000000,1087.000000,362.000000
mean,1.547210,1994.986201,38.373484,-41.595373,53.850374,48.617289,89.575171,101.996491,1.326587,3.824006
std,2.114073,23.475248,15.516596,72.285227,23.385518,16.678031,136.246444,67.329092,2.030854,0.989998
min,0.000000,1884.000000,-48.261700,-123.035700,5.000000,5.000000,4.000000,13.100000,0.000000,0.800000
25%,0.000000,1989.000000,35.031050,-84.552200,40.000000,37.300000,44.000000,51.800000,0.000000,3.400000
50%,0.000000,2000.000000,40.289800,-76.653600,50.000000,49.700000,79.000000,91.200000,0.000000,4.000000
75%,3.000000,2010.000000,44.799600,2.778100,63.000000,58.000000,113.000000,131.200000,2.000000,4.500000
max,14.000000,2022.000000,63.230900,153.426500,240.000000,149.100000,3937.000000,377.300000,14.000000,12.000000

In [53]:
# Decresing the Columns of our dataset
df = df[['coaster_name', 
#     'Length', 'Speed',
    'Location', 'Status',
#     'Opening date',
#        'Type',
    'Manufacturer', 
#     'Height restriction', 'Model', 'Height',
#        'Inversions', 'Lift/launch system', 'Cost', 'Trains', 'Park section',
#        'Duration', 'Capacity', 'G-force', 'Designer', 'Max vertical angle',
#        'Drop', 'Soft opening date', 'Fast Lane available', 'Replaced',
#        'Track layout', 'Fastrack available', 'Soft opening date.1',
#        'Closing date', Opened',
#     'Replaced by', 'Website',
#        'Flash Pass Available', 'Must transfer from wheelchair', 'Theme',
#        'Single rider line available', 'Restraint Style',
#        'Flash Pass available', 'Acceleration', 'Restraints', 'Name',
       'year_introduced', 'latitude', 'longitude', 'Type_Main',
       'opening_date_clean',
#     'speed1', 'speed2', 'speed1_value', 'speed1_unit',
       'speed_mph', 
#     'height_value', 'height_unit',
    'height_ft', 'Inversions_clean', 'Gforce_clean']].copy()

In [54]:
df.shape

(1087, 13)

In [22]:
df.dtypes

coaster_name           object
Location               object
Status                 object
Manufacturer           object
year_introduced         int64
latitude              float64
longitude             float64
Type_Main              object
opening_date_clean     object
speed_mph             float64
height_ft             float64
Inversions_clean        int64
Gforce_clean          float64
dtype: object

In [55]:
# To date Column
df['opening_date_clean'] = pd.to_datetime(df['opening_date_clean'])

In [30]:
# To numeric Column
df['year_introduced'] = pd.to_numeric(df['year_introduced'])

In [33]:
df.columns

Index(['Coaster_Name', 'Location', 'Status', 'Manufacturer', 'Year_Introduced',
       'latitude', 'longitude', 'Type_Main', 'opening_date_clean', 'speed_mph',
       'height_ft', 'Inversions_clean', 'Gforce_clean'],
      dtype='object')

In [56]:
# Renaming our Columns
df = df.rename(columns={'coaster_name': 'Coaster_Name', 'year_introduced': 'Year_Introduced'})

In [35]:
df.isna().sum()

Coaster_Name            0
Location                0
Status                213
Manufacturer           59
Year_Introduced         0
latitude              275
longitude             275
Type_Main               0
opening_date_clean    250
speed_mph             150
height_ft             916
Inversions_clean        0
Gforce_clean          725
dtype: int64

In [57]:
# Checking Duplicated Values
df.loc[df.duplicated()]

Empty DataFrame
Columns: [Coaster_Name, Location, Status, Manufacturer, Year_Introduced, latitude, longitude, Type_Main, opening_date_clean, speed_mph, height_ft, Inversions_clean, Gforce_clean]
Index: []

In [58]:
df.loc[df.duplicated(subset=['Coaster_Name'])].head(25)

,Coaster_Name,Location,Status,Manufacturer,Year_Introduced,latitude,longitude,Type_Main,opening_date_clean,speed_mph,height_ft,Inversions_clean,Gforce_clean
43,Crystal Beach Cyclone,Crystal Beach Park,Removed,Traver Engineering,1927,42.8617,-79.0598,Wood,1926-01-01,60.0,NaN,0,4.0
60,Derby Racer,Revere Beach,Removed,Fred W. Pearce,1937,42.4200,-70.9860,Wood,1911-01-01,NaN,NaN,0,NaN
61,Blue Streak (Conneaut Lake),Conneaut Lake Park,Closed,NaN,1938,41.6349,-80.3180,Wood,1938-05-23,50.0,NaN,0,NaN
167,Big Thunder Mountain Railroad,Other,NaN,Arrow Development (California and Florida)Dyna...,1980,NaN,NaN,Steel,NaT,35.0,NaN,0,NaN
237,Thunder Run (Canada's Wonderland),Canada's Wonderland,Operating,Mack Rides,1986,43.8427,-79.5423,Steel,1981-05-23,39.8,32.8,0,NaN
239,La Vibora,Other,NaN,Intamin,1986,NaN,NaN,Steel,NaT,32.0,NaN,0,NaN
241,Big Thunder Mountain Railroad,Other,NaN,Arrow Development (California and Florida)Dyna...,1987,NaN,NaN,Steel,NaT,35.0,NaN,0,NaN
252,La Vibora,Other,NaN,Intamin,1987,NaN,NaN,Steel,NaT,32.0,NaN,0,NaN
262,Flashback (Six Flags Magic Mountain),Other,NaN,Intamin,1988,NaN,NaN,Steel,NaT,35.0,NaN,0,3.0
270,Alpine Bobsled,Other,NaN,Intamin,1989,NaN,NaN,Steel,NaT,35.0,NaN,0,NaN
282,Ultra Twister (Nagashima Spa Land),Nagashima Spa Land,Operating,TOGO,1989,35.0285,136.7326,Steel,1989-01-01,NaN,NaN,3,NaN
296,Ultra Twister (Six Flags),Other,NaN,TOGO,1990,NaN,NaN,Steel,NaT,44.0,NaN,3,NaN
313,Big Thunder Mountain Railroad,Other,NaN,Arrow Development (California and Florida)Dyna...,1992,NaN,NaN,Steel,NaT,35.0,NaN,0,NaN
320,Flashback (Six Flags Magic Mountain),Other,NaN,Intamin,1992,NaN,NaN,Steel,NaT,35.0,NaN,0,3.0
332,Batman: The Ride,Other,NaN,Bolliger & Mabillard,1993,NaN,NaN,Steel,NaT,50.0,NaN,5,4.0
341,Lightnin' Loops,Other,NaN,Arrow Development,1993,40.1358,-74.4437,Steel,NaT,45.0,NaN,1,4.0
347,Wild Mouse (Idlewild),Idlewild and Soak Zone,Operating,Vekoma,1993,40.2598,-79.2799,Steel,1985-01-01,30.0,NaN,0,NaN
348,Batman: The Ride,Other,NaN,Bolliger & Mabillard,1994,NaN,NaN,Steel,NaT,50.0,NaN,5,4.0
367,Batman: The Ride,Other,NaN,Bolliger & Mabillard,1995,NaN,NaN,Steel,NaT,50.0,NaN,5,4.0
372,Cobra (La Ronde),Other,NaN,Intamin,1995,NaN,NaN,Steel,NaT,48.0,NaN,1,NaN
394,Gadget's Go Coaster,Other,NaN,Vekoma,1996,NaN,NaN,Steel,NaT,21.7,NaN,0,NaN
414,Batman: The Ride,Other,NaN,Bolliger & Mabillard,1997,NaN,NaN,Steel,NaT,50.0,NaN,5,4.0
435,Alpine Bobsled,Other,NaN,Intamin,1998,NaN,NaN,Steel,NaT,35.0,NaN,0,NaN
438,Boomerang: Coast to Coaster,Other,NaN,Vekoma,1998,NaN,NaN,Steel,NaT,47.0,NaN,3,5.2
470,Batman: The Ride,Other,NaN,Bolliger & Mabillard,1999,NaN,NaN,Steel,NaT,50.0,NaN,5,4.0

In [59]:
df.query('Coaster_Name == "Batman: The Ride"' )

,Coaster_Name,Location,Status,Manufacturer,Year_Introduced,latitude,longitude,Type_Main,opening_date_clean,speed_mph,height_ft,Inversions_clean,Gforce_clean
312,Batman: The Ride,Other,NaN,Bolliger & Mabillard,1992,NaN,NaN,Steel,NaT,50.0,NaN,5,4.0
332,Batman: The Ride,Other,NaN,Bolliger & Mabillard,1993,NaN,NaN,Steel,NaT,50.0,NaN,5,4.0
348,Batman: The Ride,Other,NaN,Bolliger & Mabillard,1994,NaN,NaN,Steel,NaT,50.0,NaN,5,4.0
367,Batman: The Ride,Other,NaN,Bolliger & Mabillard,1995,NaN,NaN,Steel,NaT,50.0,NaN,5,4.0
414,Batman: The Ride,Other,NaN,Bolliger & Mabillard,1997,NaN,NaN,Steel,NaT,50.0,NaN,5,4.0
470,Batman: The Ride,Other,NaN,Bolliger & Mabillard,1999,NaN,NaN,Steel,NaT,50.0,NaN,5,4.0
625,Batman: The Ride,Other,NaN,Bolliger & Mabillard,2003,NaN,NaN,Steel,NaT,50.0,NaN,5,4.0

In [60]:
(~df.duplicated("Coaster_Name")).sum()

990

In [62]:
# Take the not Duplicated
~df.duplicated("Coaster_Name")

0        True
1        True
2        True
3        True
4        True
        ...
1082    False
1083     True
1084    False
1085     True
1086     True
Length: 1087, dtype: bool

In [64]:
# Here we are going to take the data without the dupplicated rows and reset the index and drop the old index
df = df.loc[~df.duplicated("Coaster_Name")].reset_index(drop=True).copy()

In [63]:
df.head()

,Coaster_Name,Location,Status,Manufacturer,Year_Introduced,latitude,longitude,Type_Main,opening_date_clean,speed_mph,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,Coney Island,Removed,LaMarcus Adna Thompson,1884,40.5740,-73.9780,Wood,1884-06-16,6.0,NaN,0,2.9
1,Flip Flap Railway,Sea Lion Park,Removed,Lina Beecher,1895,40.5780,-73.9790,Wood,1895-01-01,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),"Cleveland, Ohio, United States",Closed,NaN,1896,41.5800,-81.5700,Other,NaT,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),Other,Removed,Edwin Prescott,1901,40.5745,-73.9780,Steel,1901-01-01,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),Other,Removed,Edwin Prescott,1901,39.3538,-74.4342,Steel,1901-01-01,NaN,NaN,1,NaN